.dropdown {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  border-radius: 0 0 24px 24px;

  &.right {
    right: 0;
  }
  .dropdown:hover {
    display: block;
  }

  .links {
    padding: 44px;
    min-width: 240px;

    ul {
      list-style: none;

      li {
        a {
          text-decoration: none;
          color: $color-dark-blue;
          font-size: 14px;
          line-height: 34px;
        }
      }

      li:not(:last-child) {
        border-bottom: 1px solid $color-light-grey;
      }
    }
  }

  .description {
    min-width: 400px;
    padding: 44px;
    background-color: $color-light-grey;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h4 {
      color: #4d7286;
    }
    .wrap {
      color: $color-dark-grey;
      P {
        color: $color-dark-blue;
        font-size: 20px;
      }
    }
  }
}
