$second-container-wth: 1170px;
$second-container-mar: auto;
$color-dark-blue: #0b3954;
$color-white: #ffff;
$color-orange: #ffb128;
$color-light-grey: #f5f5f5;
$color-dark-grey: grey;
$hover-transition: 0.5s;
