



.threeCard{
    @include centrDisplay();
    font-family: "Poppins", sans-serif;
    
}
.cards{
    @include centrDisplay();
    width: 100%;
    height: 100%;
    .bedroomCard{
        background-image: url(/img/imgCards/bedroomCard.png);
        @extend %cardsStyle;
    }
    .officeCard{ 
        background-image: url(/img/imgCards/officeCard.png);
        @extend %cardsStyle;
    }
    .kitchenCard{
        background-image: url(/img/imgCards/kitchenCard.png);
        @extend %cardsStyle;
    }
}